<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqg.communityManagementBackend.mapper.AppNoticeMapper">


    <select id="appNotice"  resultType="com.zqg.communityManagementBackend.entity.Notice">
        select * from notice  where open_id = #{id}
    </select>

</mapper>
