<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqg.communityManagementBackend.mapper.ArticleMapper">

    <insert id="addArticle" parameterType="com.zqg.communityManagementBackend.dto.request.ArticleReq">
        insert into article(ass,type,title,content,time,status) values(#{ass},#{type},#{title},#{content}, #{time},#{status})
    </insert>

    <insert id="addArticleComment" parameterType="com.zqg.communityManagementBackend.entity.ArticleComment">
        insert into article_comment(article_id,name,avatar_url,content,star) values(#{articleId},#{name},#{avatarUrl},#{content},#{star})
    </insert>

    <select id="getArticleList" parameterType="com.zqg.communityManagementBackend.dto.Page" resultType="com.zqg.communityManagementBackend.dto.request.ArticleReq">
        select * from article limit #{startPage},#{pageSize}
    </select>

    <select id="viewId"  resultType="String">
        select content from article where id = #{id}
    </select>

    <select id="appViewId"  resultType="com.zqg.communityManagementBackend.dto.request.ArticleReq">
        select * from article where id = #{id}
    </select>

    <select id="articleComment"  resultType="com.zqg.communityManagementBackend.entity.ArticleComment">
        select * from article_comment where article_id = #{id}
    </select>

    <update id="deleteId" >
        update article
        <set>
            <if test="status != null">
                status = "已删除",
            </if>
        </set>
        where  id = #{id}
    </update>

</mapper>




