<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqg.communityManagementBackend.mapper.MemberMapper">

<!--    <insert id="insertFeedback">-->
<!--        insert into feedback(content)-->
<!--        values(#{content})-->
<!--    </insert>-->

    <select id="getMemberList" parameterType="com.zqg.communityManagementBackend.dto.Page" resultType="com.zqg.communityManagementBackend.entity.Member">
        select * from member limit #{startPage},#{pageSize}
    </select>

    <select id="getCol"  resultType="java.lang.String">
        select name from association
    </select>

    <select id="queryMember" parameterType="com.zqg.communityManagementBackend.dto.request.MemberReq"  resultType="com.zqg.communityManagementBackend.entity.Member">
        select
        *
        from
        member
        <where>

        <if test="ass != '' and ass != null">
            and ass =#{ass}
        </if>
        <if test="position != '' and position != null">
            and position =#{position}
        </if>

        <if test="name!= '' and name!= null">
            and name like '%${name}%'
        </if>
        </where>

        <choose>
            <when test="sort == 1">
                order by id desc
            </when>
            <otherwise>
                order by id asc
            </otherwise>
        </choose>
    </select>


    <delete id="deleteMemberById" parameterType="int"  >
        delete from member where id=#{id}
    </delete>


    <update id="updateMemberById" parameterType="com.zqg.communityManagementBackend.entity.UpdateMember">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update member
        <set>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>


        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertMember">
        insert into member(id,time,name,ass,position,image,status,depart,open_id)
        values(#{id},#{time},#{name},#{ass},#{position},#{image},#{status},#{depart},#{openId})
    </insert>
</mapper>
